body {
    background-color: #daf1d8;
    color: #222;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.3;
    margin: 8px;
    text-align: center;
}

header {
    background-color: #21a815;
    box-shadow: rgba(0,0,0,0.1) 0 0px 10px;
    color: white;
    margin: -8px;
}

header h1 {
    margin: 0 0 20px 0;
    padding: 10px;
}

header small {
    color: #ffffffaa;
}

.link {
    color: white;
    cursor: pointer;
    text-decoration: underline #ffffffaa;
}

.form {
    background-color: #f5fff5;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    display: inline-block;
    padding: 20px;
}

.form .fields {
    text-align: right;
}

input[type=text] {
    border-radius: 5px;
    border: 1px solid #4c7748;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2) inset;
    color: #222;
    font-family: sans-serif;
    font-size: 16px;
    margin: 10px;
    padding: 0.5em;
    width: 6em;
}

input:focus, button:focus {
    border-color: #21a815;
    box-shadow: #21a815 0 0 10px;
}

button {
    background-color: #21a815;
    border-radius: 5px;
    border: none;
    box-shadow: 0 5px 5px #25752533;
    color: white;
    cursor: pointer;
    font-family: sans-serif;
    font-size: large;
    font-weight: bold;
    margin: 8px;
    padding: 0.5em 2em;
}

button:hover {
    background-color: #46af3c;
}

#buzzer {
    background-image: radial-gradient(#bd2222 50%,#810404 70%);
    border-radius: 80vmin;
    border: white solid 5px;
    box-shadow: rgba(0,0,0,0.5) 0 10px 20px;
    cursor: pointer;
    display: inline-block;
    height: 80vmin;
    max-height: 50vh;
    max-width: 50vh;
    position: relative;
    width: 80vmin;
}

#buzzer.ready:active {
    background-image: radial-gradient(#e44640 30%,#810404 60%);
    border-width: 10px;
    box-shadow: rgba(0,0,0,0.5) 0 0 20px;
    top: 5px;
}

#buzzer[disabled] {
    box-shadow: none;
    cursor: default;
    opacity: 0.5;
}

#buzzer.success {
    background-image: radial-gradient(#67d136 20%, #45bd0d 50%, #058104 70%);
    box-shadow: rgba(0,0,0,0.5) 0 10px 20px;
    opacity: 1;
}

.hidden {
    display: none;
}

#player-list {
    list-style: none;
    padding: 0;
}

#player-list li::before {
    content: '👉 ';
}

#player-list li.frozen {
    color: grey;
}

#player-list li.frozen::before {
    content: '🥶 ';
}

#player-list li.buzzed {
    font-weight: bold;
}

#player-list li.buzzed::before {
    content: '🔊 ';
}
